DOMAIN_NAME=xxxx.42.fr

#WORDPRESS
WP_USER=xxx
WP_USER_PASSWORD=xxx
WP_ADMIN=xxx
WP_PASSWORD_ADMIN=xxx
WP_USER_MAIL=xxx
WP_ADMIN_MAIL=xxx

#MARIADB (MYSQL)
MARIADB_DATABASE=xxx
MARIADB_USER=xxx
MARIADB_PASSWORD=xxx
MARIADB_ROOT_PASSWORD=xxx

#WORDPRESS (DB access)
WORDPRESS_DB_NAME=xxx
WORDPRESS_DB_USER=xxx
WORDPRESS_DB_PASSWORD=xxx
WORDPRESS_DB_HOST=xxx
